receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch:
    timeout: 1s
    send_batch_size: 1024

exporters:
  prometheus:
      endpoint: "0.0.0.0:8889" # El Collector abrirá este puerto para Prometheus
  # Envía los logs a Loki
  otlphttp/loki:
    endpoint: "http://loki:3100/otlp"

  # Envía las trazas a Tempo
  otlp/tempo:
    endpoint: "tempo:4317"
    tls:
      insecure: true

  # Útil para debug: muestra lo que recibe en la consola del contenedor
  debug:
    verbosity: basic

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp/tempo, debug] # Añadimos debug aquí si quieres ver trazas en consola
    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlphttp/loki, debug] # Cambiamos logging por debug aquí
    metrics:
      receivers: [otlp]
      exporters: [prometheus, debug]
